@charset "UTF-8";
.bbpr-menu {
  display: block;
  position: relative;
  margin: 1em 0;
  text-align: right; }
  .bbpr-menu .bbpr-menu-btn {
    -webkit-appearance: button;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 12px;
    background-color: #f5f5f5;
    background-image: none;
    font-size: 14px;
    white-space: nowrap;
    line-height: 1.42857;
    cursor: pointer;
    outline-width: 0; }
  .bbpr-menu .bbpr-menu-items {
    opacity: 0;
    z-index: 100000;
    position: absolute;
    top: 100%;
    right: 0;
    max-height: 0;
    margin: -1px 0 0;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0;
    overflow: hidden;
    background-color: #f5f5f5;
    list-style: none;
    text-align: left;
    transition: max-height .5s, opacity .5s;
    transition-timing-function: cubic-bezier(0.29, 1.01, 0.52, 1);
    box-sizing: border-box; }
    .bbpr-menu .bbpr-menu-items li {
      margin: 0;
      padding: 0; }
      .bbpr-menu .bbpr-menu-items li button {
        -webkit-appearance: none;
        display: block;
        width: 100%;
        border-width: 0;
        border-radius: 4px;
        padding: .75em 1em;
        background-color: transparent;
        text-align: left;
        cursor: pointer; }
      .bbpr-menu .bbpr-menu-items li button:hover {
        background-color: white; }
      .bbpr-open-all-diffs .bbpr-menu .bbpr-menu-items li .bbpr-display-all-btn {
        display: none; }
      .bbpr-menu .bbpr-menu-items li .bbpr-hide-all-btn {
        display: none; }
        .bbpr-open-all-diffs .bbpr-menu .bbpr-menu-items li .bbpr-hide-all-btn {
          display: block; }
  .bbpr-menu.bbpr-open .bbpr-menu-btn {
    z-index: 100001;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .bbpr-menu.bbpr-open .bbpr-menu-items {
    opacity: 1;
    max-height: 10em;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); }

ul.commit-files-summary li.bbpr-reviewed a {
  color: #aaa;
  text-decoration: line-through; }

ul.commit-files-summary li.bbpr-reviewed::after,
.bb-udiff.bbpr-reviewed .bbpr-buttons button .bbpr-done::after {
  display: inline-block;
  padding-left: .5em;
  color: #0b0;
  content: '✔'; }

.bb-udiff .bbpr-buttons button .bbpr-done {
  display: none; }

.bb-udiff .bbpr-bottom-btn {
  position: absolute;
  bottom: .5em;
  right: .5em; }
  .bb-udiff .bbpr-bottom-btn .bbpr-done {
    display: none; }

.bb-udiff.bbpr-reviewed .bbpr-buttons button .bbpr-not-done {
  display: none; }

.bb-udiff.bbpr-reviewed .bbpr-buttons button .bbpr-done {
  display: inline; }

.bb-udiff.bbpr-reviewed .bbpr-bottom-btn {
  display: none; }

#pullrequest-diff:not(.bbpr-open-all-diffs) .bb-udiff.bbpr-reviewed {
  min-height: 0; }
  #pullrequest-diff:not(.bbpr-open-all-diffs) .bb-udiff.bbpr-reviewed .heading {
    border-bottom: 1px solid #ccc;
    border-radius: 5px; }
  #pullrequest-diff:not(.bbpr-open-all-diffs) .bb-udiff.bbpr-reviewed .diff-content-container {
    display: none; }
